body{
    text-align: justify;
    background-color: lightblue;
    height: 800px;
    background-image: url("windwall.avif");
  background-repeat: no-repeat;
  background-position: right top  ;
  background-attachment: scroll;
  background-size: cover;
}
#content{
    width: 800px;
    padding: 25px;
    margin: auto;
    border: 8px solid darkblue;
    font-style: initial;
}

h1{
    font-size: xx-large;
    color: white
    ;
}

h2{
    font-size: xx-large;
    font-style: normal;
    color: white;
}

p{
    font-size: large;
    font-family: sans-serif;
    margin: 2px;
    padding: 2px;
    color: white;
}

img{
    /* width: 600px; */
    max-width: 100%;
}
